<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Import style -->
  <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
  <!-- Import Vue 3 -->
  <script src="//unpkg.com/vue@3"></script>
  <!-- Import component library -->
  <script src="//unpkg.com/element-plus"></script>
</head>
<body>
    <div id="app">
        <div >
            <span>默認</span>
            <el-slider v-model="value1"></el-slider>
        </div>
        <div>
            <span>自訂義初始直</span>
            <el-slider v-model="value2"></el-slider>
        </div>
       
        <div>
            <span>隱藏Tooltip</span>
            <el-slider v-model="value3" :show-tooltip="false"></el-slider>
        </div>
        <div>
            <span>格式化Tooltip</span>
            <el-slider v-model="value4" :format-tooltip="formatTooltip"></el-slider>
        </div>
        <div>
            <span>禁用</span>
            <el-slider v-model="value5" disabled></el-slider>
        </div>
    </div>
<script src="ex1.js"></script>
</body>
</html>