<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Import style -->
  <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
  <!-- Import Vue 3 -->
  <script src="//unpkg.com/vue@3"></script>
  <!-- Import component library -->
  <script src="//unpkg.com/element-plus"></script>
</head>
<body>
    <div id="app">
        <el-switch v-model="value1" ctive-color="#13ce66" inactive-color="#ff4949"></el-switch><br>
        <el-switch v-model="value2" disable></el-switch><br>
        <el-switch v-model="value3" loading></el-switch><br>
        <el-switch v-model="value4" active-text="Monthly payment" inactive-text=" Annual payment"></el-switch>
    </div>
<script src="ex1.js"></script>
</body>
</html>